@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

/* Navigation Bar */

body {
    width: 100%;
    margin: -8px;
}

.navbar {
    position: fixed;
    width: 101%;
    /* margin: 8px; */
    z-index: 9;
    font-family: 'Ubuntu', sans-serif;
}

.navbar.sticky {
    position: fixed;
    background-color: rgba(73, 88, 255, 1);
}

.logo {
    text-decoration: none;
    color: white;
    font-size: 40px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

.check {
    padding: 1% 0 1% 11%;
    display: inline-flex;
    margin-right: 10rem;
    justify-content: space-between;
}

li {
    list-style: none;
    display: inline;
}

.menu {
    /* padding: 10px; */
    display: inline-flex;
}

.menu-btn {
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    padding-right: 30px;
    align-items: center;
    justify-content: space-between;
    font-weight: 550;
}


/* Home Section */

.home {
    color: #fff;
    text-shadow: rgb(73, 88, 255) 6px 6px 7px;
    height: 102vh;
    margin-right: -8px;
    /* margin-bottom: -8px; */
    background: url('./Components/Assets/background\ image\ 1.gif');
    background-size: cover;
    font-family: georgia, castellar, 'californian FB', 'comic sans MS', monospace;
}

.text1 {
    padding: 20% 0px 0px 6%;
    font-size: 35px;
    font-weight: 300;
}

.text2 {
    padding-left: 6%;
    font-size: 75px;
    font-weight: 700;
}

.text3 {
    padding-left: 6%;
    font-size: 50px;
    font-weight: 500;
}


/* About Section */

.about {
    font-family: 'Ubuntu', sans-serif;
}

.text4 {
    text-align: center;
    margin: 40px 0px 5px;
    font-size: 50px;
    font-weight: 500;
}

.extra1 {
    font-size: 20px;
    font-weight: 700px;
    color: #000;
}

.text5 {
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
    color: rgb(73, 88, 255);
    font-weight: 700;
}

.profileimg {
    margin: 4% 10% 4%;
    height: 400px;
    width: 350px;
}

.aboutdiv1 {
    display: inline-flex;
}

.text6 {
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 690;
}

.text7 {
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}

.aboutdiv2 {
    font-size: 16px;
    margin: 6% 10% 4% 4%;
    text-align: justify;
}

.button1 {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border: 3px solid rgb(73, 88, 255);
    border-radius: 8px;
    background-color: rgb(73, 88, 255);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button1:hover {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(73, 88, 255);
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border: 3px solid rgb(73, 88, 255);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}


/* Interests Section */

.interests {
    margin: -8px;
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding: 3% 5% 10%;
}

.text8 {
    text-align: center;
    padding: 4% 0px 5px;
    font-size: 50px;
    font-weight: 500;
}

.extra2 {
    font-size: 20px;
    font-weight: 700px;
    color: #fff;
}

.blocks {
    margin-top: 5%;
    display: inline-flex;
    text-align: center;
}

a {
    color: #fff;
    text-decoration: none;
}

.block1 {
    padding: 5% 5%;
    background-color: #222;
    border: 1px solid #222;
    margin: auto 5%;
    border-radius: 10px;
}

.block1:hover {
    padding: 5% 5%;
    background-color: rgb(73, 88, 255);
    border: 1px solid rgb(73, 88, 255);
    margin: auto 5%;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
}

.block2 {
    padding: 5% 5%;
    background-color: #222;
    border: 1px solid #222;
    margin: auto 5%;
    border-radius: 10px;
}

.block2:hover {
    padding: 5% 5%;
    background-color: rgb(73, 88, 255);
    border: 1px solid rgb(73, 88, 255);
    margin: auto 5%;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
}

.block3 {
    padding: 5% 5%;
    background-color: #222;
    border: 1px solid #222;
    margin: auto 5%;
    border-radius: 10px;
}

.block3:hover {
    padding: 5% 5%;
    background-color: rgb(73, 88, 255);
    border: 1px solid rgb(73, 88, 255);
    margin: auto 5%;
    border-radius: 10px;
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fff;
}

.fas {
    color: #fff;
    font-size: 50px;
    padding-bottom: 10px;
}

.text9 {
    padding-top: 10px;
    font-size: 30px;
}

.text10 {
    font-size: 20px;
}


/* Skills Section */

.skills {
    font-family: 'Ubuntu', sans-serif;
}

.skills-content {
    display: inline-flex;
    margin: auto;
}

.leftcon {
    margin: 3% 5% 3% 10%;
}

.text66 {
    /* min-width: 300px;
    max-width: 400px; */
    font-size: 28px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 690;
}

.text77 {
    /* min-width: 300px;
    max-width: 400px; */
    padding-bottom: 15px;
    font-size: 18px;
    text-align: justify;
}

.rightcon {
    margin: 3% 10% 3% 5%;
}

.text11 {
    display: inline;
    font-weight: 600;
    font-size: 18px;
}

.text12 {
    display: inline;
    font-weight: 300;
    font-size: 18px;
}

#pro1,
#pro2,
#pro3,
#pro4,
#pro5,
#pro6 {
    padding: 2px;
    width: 300px;
}

.button2 {
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border: 3px solid rgb(73, 88, 255);
    border-radius: 8px;
    background-color: rgb(73, 88, 255);
    cursor: pointer;
    transition: all 0.2s ease;
}

.button2:hover {
    font-family: 'Ubuntu', sans-serif;
    color: rgb(73, 88, 255);
    font-weight: 500;
    font-size: 20px;
    padding: 8px 16px;
    border: 3px solid rgb(73, 88, 255);
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.2s ease;
}


/* Project Section */

.project {
    margin: -8px -8px 8px;
    background-color: #000;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding: 3% 11% 10%;
}

.proj1 {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.proj2 {
    height: 94%;
    width: 94%;
    border-radius: 50%;
}

.proj3 {
    height: 97%;
    width: 97%;
    border-radius: 50%;
}

.visit {
    font-size: larger;
}


/* Contact Section */

.contact {
    font-family: 'Ubuntu', sans-serif;
}

.quote {
    font-size: 25px;
}

.quote2 {
    font-size: 20px;
}

.contact-content {
    display: inline-flex;
}

.column {
    margin-left: 6%;
    width: calc(50% - 30px);
}

.icons {
    margin: 10%;
}

.row {
    display: flex;
    height: 80px;
    align-items: center;
}

.info {
    margin-left: 30px;
}

.conico {
    font-size: 25px;
    color: rgb(73, 88, 255);
}

.right {
    margin-top: 7%;
}


/* Footer Section */

footer {
    font-family: cursive;
    font-weight: 600;
    margin: -8px;
    text-align: center;
    background-color: #000;
}

#insta {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    padding-bottom: 10px;
}

#insta:hover {
    font-size: 30px;
    color: #e1306c;
    padding: 20px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#linkedin {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    padding-bottom: 10px;
}

#linkedin:hover {
    font-size: 30px;
    color: #1e4fd6;
    padding: 20px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

#github {
    font-size: 30px;
    color: #fff;
    padding: 20px;
    padding-bottom: 10px;
}

#github:hover {
    font-size: 30px;
    color: rgb(8, 109, 21);
    padding: 20px;
    padding-bottom: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.last {
    font-size: 20px;
    color: #fff;
    padding-bottom: 20px;
}

.lastname {
    color: rgb(73, 88, 255);
    padding-bottom: 20px;
}


/* extra contact section*/


/* .contact{
    font-family: 'Ubuntu', sans-serif;
}
.botcon{
    padding: 5px 5% 70px;
    text-align: center;
    font-weight: 400;
}
.quote{
    font-size: 25px;
}
.quote2{
    font-size: 25px;
}
.icon{
    color: rgb(73, 88, 255);
    font-size: 30px;
    margin-left: 150%;
}
.topcon{
    display: inline-flex;
}
.topconp{
    display: inline-flex;
    font-size: 18px;
    font-weight: 600;
}
.topconp1{
    padding-left: 212px;
    padding-bottom: 25px;
}
.topconp2{
    padding-left: 185px;
    padding-bottom: 25px;
}
.topconp3{
    padding-left: 155px;
    padding-bottom: 25px;
}
.topconp4{
    padding-left: 118px;
    padding-bottom: 25px;
} */

@media (max-width: 1070px) {
    /* Navigation Bar */
    .new {
        text-align: center;
    }
    .check {
        padding: 10px 0 0;
        margin: 0;
        text-align: center;
        display: block;
        justify-content: space-around;
    }
    .menu-btn {
        font-size: 20px;
        text-decoration: none;
        color: white;
        font-family: 'Ubuntu', sans-serif;
        margin: auto;
        text-align: center;
        justify-content: space-around;
        font-weight: 550;
    }
    /* Home Section */
    .text1 {
        padding: 25% 0px 0px 6%;
    }
    .interests {
        display: grid;
        margin-left: auto;
        padding: 3% 5% 10%;
    }
    .project {
        display: grid;
        margin-left: auto;
        padding: 3% 3% 10%;
    }
    .block1,
    .block1:hover,
    .block2,
    .block2:hover,
    .block3,
    .block3:hover {
        padding: 5% 1%;
        margin: 2% 2%;
        justify-content: space-evenly;
    }
}

@media (max-width: 970px) {
    /* Home Section*/
    .text1 {
        padding: 30% 0px 0px 6%;
    }
    /* About Section */
    .profileimg {
        margin: 4% 7% 4%;
        height: 350px;
        width: 300px;
    }
    .text7 {
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 18px;
        text-align: justify;
    }
    .aboutdiv2 {
        font-size: 16px;
        margin: 3% 10% 4% 4%;
        text-align: justify;
    }
}

@media (max-width:800px) {
    /* Interests Section */
    .interests {
        display: grid;
        padding: 10% 10% 20%;
    }
    .project {
        display: grid;
        padding: 10% 15% 20%;
    }
    .block1,
    .block1:hover,
    .block2,
    .block2:hover,
    .block3,
    .block3:hover {
        display: grid;
        padding: 5% 1%;
        margin: 2% 10%;
    }
    .blocks {
        display: grid;
        margin: auto;
    }
    /* Skills Section */
    .skills {
        display: grid;
        margin: auto;
    }
    .skills-content {
        display: grid;
        margin: auto;
    }
    .leftcon {
        display: grid;
        margin: 3% 5% 3% 10%;
    }
    .text66 {
        text-align: center;
    }
    .text77 {
        /* min-width: 300px;
        max-width: 400px; */
        padding-bottom: 15px;
        font-size: 18px;
        text-align: center;
    }
    .rightcon {
        display: grid;
        margin: auto;
        padding: 40px 0 60px;
    }
    .text11 {
        display: inline;
        font-weight: 600;
        font-size: 18px;
    }
    .text12 {
        display: inline;
        font-weight: 300;
        font-size: 18px;
    }
    #pro1,
    #pro2,
    #pro3,
    #pro4,
    #pro5,
    #pro6 {
        padding: 2px 2px;
        width: 400px;
    }
    .button2 {
        display: grid;
        margin: auto;
    }
}

@media (max-width: 750px) {
    /* About Section */
    .profileimg {
        margin: 4% auto 4%;
        align-items: center;
        height: 400px;
        width: 350px;
    }
    .aboutdiv1 {
        display: grid;
        margin: auto;
    }
    .text6 {
        text-align: center;
        font-size: 28px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 690;
    }
    .text7 {
        text-align: center;
        padding-top: 5px;
        padding-bottom: 15px;
        font-size: 18px;
    }
    .aboutdiv2 {
        font-size: 16px;
        margin: 3% 4% 4% 4%;
        text-align: justify;
    }
    .button1 {
        display: grid;
        margin: auto;
    }
    /* Contact Section */
    .column {
        margin-left: 5%;
        width: calc(50% - 30px);
    }
    .icons {
        margin: 2%;
    }
    .row {
        display: flex;
        height: 80px;
        align-items: center;
    }
    .right {
        margin-top: 4%;
    }
}

@media (max-width: 630px) {
    /* Home Section*/
    .text1 {
        padding: 40% 0px 0px 6%;
    }
}


/* @media (max-width: 630px){
    .menu-btn {
		display: block;
		z-index: 999;
	}
	.menu-btn i.active:before {
		content: "\f00d";
	}
    .check{
        display: block;
    }
	.menu {
		position: fixed;
		height: 100vh;
		width: 100%;
		left: -100%;
		top: 0;
		background: #111;
		text-align: center;
		padding-top: 80px;
		transition: all 0.3s ease;
        display: block;
	}
	.navbar .menu.active {
		left: 0;
	}
	li {
        padding: 20px 0;
		display: block;
	}
	button {
		display: block;
		margin: 20px 0;
		font-size: 25px;
	}
} */